* {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  text-decoration: none;
  position: relative;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #323E3F;
  overflow-x: hidden;
  z-index: -1;
}

html {
  position: revert;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.App .App-header {
  height: 40vh;
  margin: 0 0 1rem;
  color: #ffffff;
  background-color: #0A0A0A;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.App .App-header .App-title {
  font-size: 5em;
  font-weight: bolder;
}

.App .appFooter {
  bottom: 0;
  height: 4em;
  line-height: 4em;
  margin: 1em auto;
  width: 95%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .appFooter a {
  color: #9fbe52;
}

button {
  border: 0.1em solid #ffffff;
  background: #323E3F;
  color: #ffffff;
  padding: .5em;
  margin: 1em;
  cursor: pointer;
  font-size: 1.5em;
  -webkit-transition: all .5s;
  transition: all .5s;
}

button:hover {
  background: #ffffff;
  color: #323E3F;
}

.expandAll {
  display: block;
  margin: .6em auto;
}

.pageNumbers {
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.pageNumbers li {
  padding: .5em;
  font-size: 1.2em;
  cursor: pointer;
}

.pageNumbers .activeNumber {
  color: red;
}

.searchLabel {
  color: #ffffff;
  margin: 1em;
}

.markupAbility {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.markupAbility .abilityIcon {
  padding: 0 0 0 .5em;
}

.markupAbility .name {
  font-size: 1em;
  padding: 0 .1em;
  color: #9fbe52;
}

.markupAbility .abilityHover {
  position: absolute;
  visibility: hidden;
  font-size: 1rem;
  width: 300px;
  left: -50%;
  top: 20px;
  color: #ffffff;
  text-shadow: 0 0 2px #000;
  margin: 2px 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #000;
  background-color: #191919;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px #555;
          box-shadow: 0 0 3px #555;
  z-index: 5;
}

.markupAbility .abilityHover .cooldown, .markupAbility .abilityHover .apCost, .markupAbility .abilityHover .noraCost {
  color: #4b7bcf;
  width: 100%;
  font-size: unset;
  font-weight: unset;
}

.markupAbility .abilityHover .description {
  font-size: .7rem;
}

.markupAbility:hover .abilityHover, .markupAbility:focus .abilityHover {
  display: -ms-grid;
  display: grid;
  visibility: visible;
}

.markupAbility:hover .abilityHover .cooldown, .markupAbility:hover .abilityHover .apCost, .markupAbility:hover .abilityHover .noraCost, .markupAbility:focus .abilityHover .cooldown, .markupAbility:focus .abilityHover .apCost, .markupAbility:focus .abilityHover .noraCost {
  color: #4b7bcf;
  width: 100%;
  font-size: unset;
  font-weight: unset;
}

.markupAbility:hover .abilityHover .description, .markupAbility:focus .abilityHover .description {
  font-size: .7rem;
}

.markupAbility:hover .abilityHover .abilityHover, .markupAbility:focus .abilityHover .abilityHover {
  left: unset;
  top: unset;
  bottom: 5px;
  margin: 1em 0;
  position: relative;
  border: 2px solid whitesmoke;
  border-style: inset;
}

.markupAbility:hover .abilityHover .abilityHover:hover, .markupAbility:focus .abilityHover .abilityHover:hover {
  border: unset;
}

.RuneBox {
  background-color: #0A0A0A;
  color: #ffffff;
  border: solid rgba(255, 255, 255, 0.25);
  width: 90%;
  margin: .5em auto;
  display: -ms-grid;
  display: grid;
}

.RuneBox .collapsedRune, .RuneBox .expandedRune {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.RuneBox .expandedRune {
  min-height: 500px;
}

.RuneBox .expandedRune .namehash {
  z-index: 3;
  color: ivory;
  top: 0;
}

.RuneBox input {
  visibility: hidden;
}

.RuneBox .clickable {
  cursor: pointer;
}

.RuneBox li {
  list-style: none;
  padding: .5em;
  text-transform: capitalize;
  cursor: pointer;
}

.RuneBox .tradeable, .RuneBox .forSale, .RuneBox .allowRanked, .RuneBox .races, .RuneBox .classes, .RuneBox .factions, .RuneBox .classes, .RuneBox .description {
  cursor: revert;
}

.RuneBox .tradeable li, .RuneBox .forSale li, .RuneBox .allowRanked li, .RuneBox .races li, .RuneBox .classes li, .RuneBox .factions li, .RuneBox .classes li, .RuneBox .description li {
  cursor: revert;
}

.RuneBox .races, .RuneBox .classes, .RuneBox .factions, .RuneBox .startingAbilities {
  text-transform: capitalize;
}

.RuneBox .races ul, .RuneBox .classes ul, .RuneBox .factions ul, .RuneBox .startingAbilities ul {
  display: inline;
}

.RuneBox .races ul li, .RuneBox .classes ul li, .RuneBox .factions ul li, .RuneBox .startingAbilities ul li {
  display: inline;
  padding: unset;
}

.RuneBox .id, .RuneBox .rarity {
  display: none;
}

.RuneBox .name, .RuneBox .noraCost {
  font-size: 1.2em;
  font-weight: bolder;
}

.RuneBox .name span, .RuneBox .noraCost span {
  color: #9fbe52;
}

.RuneBox .flavorText, .RuneBox .artist, .RuneBox .runeSet {
  font-style: italic;
  font-weight: lighter;
}

.RuneBox .flavorText span {
  color: #DF6D6D;
}

.RuneBox .artist, .RuneBox .runeSet {
  cursor: pointer;
}

.RuneBox .artist span, .RuneBox .runeSet span {
  color: #14EFFF;
}

.RuneBox .description, .RuneBox .factions, .RuneBox .rarity {
  font-size: 1.25em;
}

.RuneBox .hash {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
}

.RuneBox .hash .img-full {
  position: relative;
  width: 100%;
  height: 100%;
}

.RuneBox .hash .image {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.RuneBox .hash .stats {
  top: 402px;
}

.listOfAll .collapsedRune {
  grid: 'name . noraCost';
}

.listOfAll .expandedRune {
  grid: 'hash name hitPoints noraCost' 'hash factions factions factions ' 'hash tradeable forSale allowRanked' 'hash races classes deckLimit' 'hash cooldown . deckLimit' 'hash description description description' 'hash damage speed defense' 'hash size minRng maxRng ' 'hash abilitySets abilitySets abilitySets' 'hash startingAbilities startingAbilities startingAbilities' 'hash flavorText flavorText flavorText' 'hash artist . runeSet';
  -ms-grid-columns: minmax(35%, 35%) 1fr 1fr 1fr;
      grid-template-columns: minmax(35%, 35%) 1fr 1fr 1fr;
}

.listOfAll .expandedRune input[type="radio"]:checked + label .name {
  color: yellow;
}

.listOfConditions, .listOfMechanics {
  width: 50%;
}

.listOfConditions .collapsedRune, .listOfMechanics .collapsedRune {
  grid: '. name .';
}

.listOfConditions .expandedRune, .listOfMechanics .expandedRune {
  grid: '. name .' 'description description description' '. key .';
  min-height: revert;
}

.listOfConditions .key, .listOfMechanics .key {
  display: none;
}

.listOfAbilities .collapsedRune {
  grid: 'name . noraCost';
}

.listOfAbilities .expandedRune {
  grid: ' name name icon_name icon_name' 'ap_cost ap_cost cost cost' 'long_description long_description long_description long_description' 'level level cooldown cooldown';
  min-height: unset;
}

.listOfAbilities .ability_id, .listOfAbilities .activated, .listOfAbilities .activation_type, .listOfAbilities .asset_id, .listOfAbilities .class_name, .listOfAbilities .comments, .listOfAbilities .prerequisite_id, .listOfAbilities .short_description,
.listOfAbilities .ranked, .listOfAbilities .resettable, .listOfAbilities .revision {
  display: none;
}

.listOfChampions .collapsedRune {
  grid: 'name . noraCost';
}

.listOfChampions .expandedRune {
  grid: 'hash name hitPoints noraCost' 'hash factions factions factions ' 'hash tradeable forSale allowRanked' 'hash races classes deckLimit' 'hash description description description' 'hash damage speed defense' 'hash size minRng maxRng ' 'hash abilitySets abilitySets abilitySets' 'hash startingAbilities startingAbilities startingAbilities' 'hash artist . runeSet';
  -ms-grid-columns: minmax(35%, 35%) 1fr 1fr 1fr;
      grid-template-columns: minmax(35%, 35%) 1fr 1fr 1fr;
}

.listOfChampions .expandedRune input[type="radio"]:checked + label .name {
  color: yellow;
}

.listOfChampions .description {
  width: 100%;
  margin: auto;
}

.listOfChampions .description a {
  color: #DF6D6D;
}

.listOfChampions .description a:hover {
  color: #DF6D6D;
}

.listOfChampions .abilities ul .apCost, .listOfChampions .abilities ul .shortDescription, .listOfChampions .abilities ul .cooldown, .listOfChampions .abilities ul .noraCost, .listOfChampions .abilities ul .apCost {
  display: none;
}

.listOfChampions .abilities ul:hover .apCost {
  display: inline;
}

.listOfSpells .collapsedRune {
  grid: 'name . noraCost';
}

.listOfSpells .expandedRune {
  grid: 'hash name . noraCost' 'hash factions factions factions ' 'hash tradeable forSale allowRanked' 'hash cooldown . deckLimit' 'hash description description description' 'hash flavorText flavorText flavorText' 'hash artist . runeSet';
  -ms-grid-columns: minmax(35%, 35%) 1fr 1fr 1fr;
      grid-template-columns: minmax(35%, 35%) 1fr 1fr 1fr;
}

.listOfRelics .collapsedRune {
  grid: 'name . noraCost';
}

.listOfRelics .expandedRune {
  grid: 'hash name . noraCost' 'hash factions factions factions ' 'hash tradeable  forSale allowRanked' 'hash size hitPoints defense' 'hash description description description' 'hash flavorText flavorText flavorText' 'hash artist deckLimit runeSet';
  -ms-grid-columns: minmax(35%, 35%) 1fr 1fr 1fr;
      grid-template-columns: minmax(35%, 35%) 1fr 1fr 1fr;
}

.listOfEquips .collapsedRune {
  grid: 'name . noraCost';
}

.listOfEquips .expandedRune {
  grid: 'hash name noraCost' 'hash factions factions ' 'hash tradeable allowRanked' 'hash forSale deckLimit' 'hash description description' 'hash flavorText flavorText' 'hash artist runeSet';
  -ms-grid-columns: minmax(30%, 30%) 1fr 1fr;
      grid-template-columns: minmax(30%, 30%) 1fr 1fr;
}

@media screen and (max-width: 1000px) {
  .App .appFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  button {
    margin: .5em;
    padding: .5em;
    font-size: 1.5em;
  }
  .RuneBox {
    width: 100%;
  }
  .RuneBox .expandedRune {
    min-height: 1000px;
  }
  .listOfConditions .expandedRune, .listOfMechanics .expandedRune, .listOfAbilities .expandedRune {
    min-height: revert;
  }
  .listOfAll .expandedRune {
    grid: 'hash hash hash hash' '. name hitPoints noraCost' 'factions factions factions factions ' '. tradeable forSale allowRanked' '. races classes deckLimit' '. cooldown . deckLimit' '. description description description' '. damage speed defense' '. size minRng maxRng ' 'abilitySets abilitySets abilitySets abilitySets' 'startingAbilities startingAbilities startingAbilities startingAbilities' 'flavorText flavorText flavorText flavorText' '. artist . runeSet';
    -ms-grid-rows: minmax(50%, 50%) 1fr 1fr 1fr;
        grid-template-rows: minmax(50%, 50%) 1fr 1fr 1fr;
  }
  .listOfChampions .expandedRune {
    grid: 'hash hash hash hash' 'name  name noraCost noraCost' 'factions factions hitPoints hitPoints ' 'tradeable deckLimit forSale allowRanked' 'races races classes classes' 'description description description description' 'damage speed speed defense' 'size minRng minRng maxRng ' 'abilitySets abilitySets abilitySets abilitySets' 'startingAbilities startingAbilities startingAbilities startingAbilities' 'artist artist runeSet runeSet';
    -ms-grid-rows: minmax(50%, 50%) 1fr 1fr 1fr;
        grid-template-rows: minmax(50%, 50%) 1fr 1fr 1fr;
  }
  .listOfSpells .expandedRune {
    grid: 'hash hash hash hash' 'name name noraCost noraCost' 'factions  factions factions factions ' 'tradeable forSale forSale allowRanked' 'cooldown cooldown deckLimit deckLimit' 'description  description description description' 'flavorText flavorText flavorText flavorText' 'artist artist runeSet runeSet';
    -ms-grid-rows: minmax(50%, 50%) 1fr 1fr 1fr;
        grid-template-rows: minmax(50%, 50%) 1fr 1fr 1fr;
  }
  .listOfRelics .expandedRune {
    grid: 'hash hash hash hash' 'name name noraCost noraCost' 'factions factions factions factions ' 'tradeable forSale forSale allowRanked' 'size hitPoints hitPoints defense' 'description description description description' 'flavorText flavorText flavorText flavorText' 'artist deckLimit deckLimit runeSet';
    -ms-grid-rows: minmax(50%, 50%) 1fr 1fr 1fr;
        grid-template-rows: minmax(50%, 50%) 1fr 1fr 1fr;
  }
  .listOfEquips .expandedRune {
    grid: 'hash hash hash hash'  'name name  noraCost noraCost' 'factions factions factions factions ' 'tradeable tradeable allowRanked allowRanked' 'forSale forSale deckLimit deckLimit' 'description description description description' 'flavorText flavorText flavorText flavorText' 'artist artist runeSet runeSet';
    -ms-grid-rows: minmax(50%, 50%) 1fr 1fr 1fr;
        grid-template-rows: minmax(50%, 50%) 1fr 1fr 1fr;
  }
  .searchPlacement {
    padding: 1em auto;
  }
  .searchPlacement .inputContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .searchPlacement .inputContainer input, .searchPlacement .inputContainer select {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em;
  }
}
/*# sourceMappingURL=App.css.map */